<div class="content-wrapper">
  <table class="table table-striped table-dark">
    <thead style="color:yellow;" >
      <th>Employee id</th>
      <th>Check in Time</th>
      <th>Check out Time</th>
    </thead>
    <tbody>
    <%@attandances.each do |attand|%>
    <tr class="table-info">
    <th ><%= attand.user.employee.employee_id %></th>
    <th style="color:green;"><%= attand.in_time%></th>
    <th style="color:red;"><%= attand.out_time%></th>
    <%end%>
    </tr>
    </tbody>
  </table>
</div>
