<div class="content-wrapper">
  <div class="text-center" >
  <%if @attandance.out_time == nil%>
    <h1> Your in-Time:--<%=@attandance.in_time%></h1>
  <%else%>
    <h1>Out-Time:--<%=@attandance.out_time%></h1>
  <%end%>
  </div>
</div>
